Django==1.6.5
Pillow==8.3.2
South==1.0
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
google-api-python-client==1.2
googleapiclient==1.2
gunicorn==19.1.1
httplib2==0.9
oauth2client==1.2
oauthlib==0.6.3
psycopg2==2.5.3
pysqlite==2.6.3
python-dateutil==2.2
python-gflags==2.0
python-openid==2.2.5
python-social-auth==0.1.26
pytz==2014.4
pyzipcode==0.4
requests==2.3.0
requests-oauthlib==0.4.1
sendgrid==1.0.1
simplejson==3.6.2
six==1.7.3
smtpapi==0.1.2
static3==0.5.1
tzlocal==1.1.1
unittest2==0.5.1
uritemplate==0.6
urllib3==1.9
wsgiref==0.1.2
