
dfsdfd
<div class="event">

{% for key, values in matched.items %}

<div class="row" style="border: 1px solid #000000;">
<h3>{{ key }}</h3>

    {% for  event in values %}
<div class="col-lg-3 col-md-4 col-xs-6 thumb">
    <p>Title {{ event.name }}</p>
    <p>Category {{ event.category| lower| capfirst }}</p>
    <p>Venue {{ event.venue }}</p>
    <p>Starts at:  {{ event.start_dateTime| date:"DATETIME_FORMAT" }}</p>
    <p>Ends at:  {{ event.end_dateTime| date:"DATETIME_FORMAT" }}</p>
    <img src="{{ event.picture }}">
{#    <p>Description {{ event.description }}</p>#}
     </div>
    {% endfor %}
      </div>


    {% endfor %}

{#    <p>Category {{ category }}</p>#}
{#    <p>Category {{ category }}</p>#}


</div>