{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!--jquery files-->
    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

    <!--bootstrap js file-->
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!--bootstrap css-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    {#    <link href="{% static 'css/thumbnail-gallery.css' %}" rel="stylesheet">#}
    {#    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">


    <!--CSS files-->



    {% block extraheader %}
    {% endblock extraheader %}
</head>
<body>
{% block content %}

<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>BookIt</h1>

        <h3>Events that fit your schedule!</h3>
        <br>
        {% if not user.is_authenticated %}
            <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-dark btn-lg">Google Login</a>
        {% else %}
           <button class="btn btn-dark btn-lg" data-toggle="modal" data-target=".bs-example-modal-sm">Create Profile</button>
        {% endif %}
   </div>
</header>




<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <h3 class="modal-header profileHead">Create Your Profile</h3>
        <div class="profileCreate">
        <form method="post" action="/create_profile/">
                        {% csrf_token %}
                   <p><label for="id_zipcode"></label><input id="id_zipcode" name="zipcode" type="number" placeholder="Zipcode"/></p>
           <p><label for="id_interests">Pick Multiple Interests:</label></p><select multiple="multiple" id="id_interests" name="interests">
            <option value="1">CAR</option>
            <option value="2">MUSIC</option>
            <option value="3">TECHNOLOGY</option>
            <option value="4">HIKING</option>
            <option value="5">BIKING</option>
            <option value="6">TRAIL</option>
            <option value="7">COMEDY</option>
            <option value="8">FOOD</option>
            <option value="9">SPORTS</option>
            </select>

       <p> <input  type="submit" value="Submit" ></p>
    </form>
            </div>



    </div>
  </div>
</div>

{% endblock content %}

</body>

</html>
