{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {#    <script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>#}
    {#    <script src="{% static 'js/bootstrap.js' %}"></script>#}

    {#    <script src="{% static 'js/eventful.js' %}"></script>#}
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <script src="{% static 'js/controller.js' %}"></script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="{% static 'js/lodash.underscore.min.js' %}"></script>
    <script src="{% static 'js/angular-google-maps.min.js' %}"></script>


</head>
<body>
{% verbatim %}
<div ng-app='myApplicationModule'>

    <div ng-controller='eventController'>
        <input type="text" ng-model="searched" placeholder="Search">
        <input type="text" ng-model="city" placeholder="City">

        <button ng-click='search(searched, city);'>Search</button>
        <ol>
            <li ng-repeat="disk in eventslist track by $index" ng-init="description=[]">{{ disk['name']['text'] }}
                <button ng-click="description[$index] = true" ng-hide="description[$index]">More Info</button>
                <div ng-show="description[$index]">
                    <p>Category: {{ disk['category']['name'] }}</p>

                    <p>Description: {{ disk['description']['text'] }}</p>

                    <p>Starts: {{ disk['start']['local'] }}</p>

                    <p>Ends: {{ disk['end']['local'] }}</p>
                    <button ng-click="description[$index] = false;">Show less</button>
                </div>

            </li>

    </ol>
</div>
<button ng-click='mapped;'>Map them</button>
<div id="map_canvas" ng-controller="mainCtrl">
    <google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
        <marker coords="marker.coords"  idkey="marker.id" >
        </marker>
    </google-map>
</div>
</div>
{% endverbatim %}
<html>
<body>
<nav>
    {% if not user.is_authenticated %}
        <a href="{% url "social:begin" "google-oauth2" %}">Google Login</a>
    {% else %}
        Hi {{ user.username }}!
    {% endif %}
</nav>
{% block content %}{% endblock content %}
</body>
</html>

</body>
</html>