
{% extends 'home.html' %}
{% load staticfiles %}
    {% block extraheader %}
            <script src="{% static 'js/loading.js' %}"></script>

    {% endblock extraheader %}
{% block content %}

 <div class="center">
    <div class="bouncywrap">

        <div class="dotcon dc1">
        <div class="dot"></div>
        </div>

        <div class="dotcon dc2">
        <div class="dot"></div>
        </div>

        <div class="dotcon dc3">
        <div class="dot"></div>
        </div>

    </div>
    </div>
    <div class="loadingText center">

    </div>
   {% endblock %}