{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-route.js' %}"></script>
    <script src="{% static 'angular/app.js' %}"></script>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script src="{% static 'angular/firstController.js' %}"></script>
    <script src="{% static 'angular/secondController.js' %}"></script>
    <script src="{% static 'angular/service.js' %}"></script>




</head>
<body>

</body>
</html>